<a href="https://colab.research.google.com/github/UrukHan/Test/blob/master/test_lab_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Тестовое задание Лаборатории больших данных

Загрузите данные из файла

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving test_set_stockouts.csv to test_set_stockouts.csv
User uploaded file "test_set_stockouts.csv" with length 1266581 bytes

В файле содержится таблица данных. Это временные ряды продаж и остатков нескольких видов продукции.

- ID - идентификатор продукта
- dDate - дата записи
- sales - объем продаж за дату
- rests  - остатки на складе на конец дня

Задание
1. Выявить участки, на которых остатки меньше 100 штук (стокауты)
2. Вывести графики для 5-10 товаров и выделить цветом эти участки
3. * Найти даты поступления новой партии товара и проверить гипотезу о том, что "продажи после поступления компенсируют период стокаута".

In [2]:
import pandas as pd

In [91]:
allData = pd.read_csv('/content/test_set_stockouts.csv')
allData.iloc[:3]

   Unnamed: 0            SAP_Code       dDate  rests  id_
0      277579  ITD000000000164431  2017-12-29    3.0  881
1      277580  ITD000000000164431  2018-01-22    3.0  881
2      277581  ITD000000000164431  2018-11-06    NaN  881

In [157]:
allData['dDate'] = pd.to_datetime(allData['dDate'])
allData['dDate'] = allData['dDate'].dt.strftime('%Y,%m,%d')
allData['rests'] = allData['rests'].fillna(0.0)
#type(allData['dDate'][1])

In [158]:
remains = allData.sort_values(['id_', 'dDate'], ascending = [True, True])
remains.iloc[:5]

   Unnamed: 0            SAP_Code       dDate  rests   id_
0      277579  ITD000000000164431  2017,12,29    3.0   881
1      277580  ITD000000000164431  2018,01,22    3.0   881
2      277581  ITD000000000164431  2018,11,06    0.0   881
3      368893  ITD000000000201818  2017,09,01   84.0  1391
4      368894  ITD000000000201818  2017,09,03   84.0  1391

In [159]:
len(remains["id_"].unique())

100

In [160]:
idList = remains.groupby('id_').count().iloc[:,:1].T
idList

id_         881    1391   1394   1427   ...  30022  30057  30104  30193
Unnamed: 0      3    590    666     11  ...    116    158    181    139

[1 rows x 100 columns]

In [161]:
valuesCount = idList.values[0]
valuesCount

array([  3, 590, 666,  11,  85, 613,   3, 814,  75,  19,  53,  71,  89,
        58,  10, 300, 208, 152,  63, 173, 694,  51, 287, 395, 218, 115,
       264, 391, 794, 247,  20, 121,   3, 168,  47,  25, 288,  92, 127,
       216,  48,  11, 115, 826,  79, 394, 337,  51,  91, 346, 192,  75,
       418, 670, 332, 164, 454, 351, 744, 511, 478, 326, 142, 403, 385,
       356,  86, 127, 605, 220, 571, 428, 249, 117, 647,  74, 424, 372,
       277, 277, 304,  85, 203, 254, 294,  51, 130, 218, 303, 363, 292,
       122, 203,  52, 275, 216, 116, 158, 181, 139])

In [168]:
allData.loc[(remains['id_'] ==  1391)].iloc[100:120]

     Unnamed: 0            SAP_Code       dDate  rests   id_
103      368993  ITD000000000201818  2018,02,25    8.0  1391
104      368994  ITD000000000201818  2018,02,26    8.0  1391
105      368995  ITD000000000201818  2018,02,28    8.0  1391
106      368996  ITD000000000201818  2018,03,01    8.0  1391
107      368997  ITD000000000201818  2018,03,02    8.0  1391
108      368998  ITD000000000201818  2018,03,05  219.0  1391
109      368999  ITD000000000201818  2018,03,10    0.0  1391
110      369000  ITD000000000201818  2018,03,12    0.0  1391
111      369001  ITD000000000201818  2018,03,14  215.0  1391
112      369002  ITD000000000201818  2018,03,15  214.0  1391
113      369003  ITD000000000201818  2018,03,16  213.0  1391
114      369004  ITD000000000201818  2018,03,20  212.0  1391
115      369005  ITD000000000201818  2018,03,21  212.0  1391
116      369006  ITD000000000201818  2018,03,22  211.0  1391
117      369007  ITD000000000201818  2018,03,23  211.0  1391
118      369008  ITD000000000201818  2018,03,26  211.0  1391
119      369009  ITD000000000201818  2018,03,27  209.0  1391
120      369010  ITD000000000201818  2018,03,28  209.0  1391
121      369011  ITD000000000201818  2018,03,29  209.0  1391
122      369012  ITD000000000201818  2018,03,31  209.0  1391

In [169]:
for i in idList:
  print(i, end = ": ")
  data = allData.loc[(remains['id_'] ==  i)]
  ind = False
  for j in range(idList[i][0]):
    if j == idList[i][0]-1 and data['rests'].values[j] < 100 and ind == True:
      print(' -', data['dDate'].values[j],)
    elif j == idList[i][0]-1 and data['rests'].values[j] < 100:
      print(data['dDate'].values[j])
    elif data['rests'].values[j] < 100 and ind == False:
      print(data['dDate'].values[j], end = '')
      ind = True
    elif data['rests'].values[j] < 100:
      pass
    elif ind == True:
      print(' -', data['dDate'].values[j-1], end = '     ')
      ind = False
    else:
      pass
  print()

881: 2017,12,29 - 2018,11,06

1391: 2017,09,01 - 2018,03,02     2018,03,10 - 2018,03,12     2018,09,13 - 2018,09,13     2018,11,09 - 2019,09,04
1394: 2017,09,21 - 2017,09,21     2017,09,24 - 2017,09,24     2018,03,06 - 2018,03,13     2018,04,25 - 2018,08,07     2018,09,13 - 2018,09,13     2019,02,06 - 2019,11,12
1427: 2017,12,14 - 2020,07,30

1781: 2017,09,20 - 2019,07,09

2211: 2017,09,01 - 2018,04,19     2018,08,10 - 2019,04,02     2019,05,21 - 2019,05,21     2019,08,09 - 2020,04,06
2496: 2017,11,24 - 2020,07,30

2826: 2017,09,01 - 2017,10,16     2018,03,06 - 2018,03,06     2018,03,12 - 2018,03,13     2018,07,22 - 2018,07,22     2018,09,13 - 2018,09,13     2019,03,28 - 2019,03,28     2019,04,05 - 2019,04,12     2019,05,21 - 2019,05,21     2019,10,10 - 2019,10,10     2019,12,11 - 2020,09,03

3146: 2017,09,03 - 2020,07,20

3678: 2017,09,11 - 2019,05,29

4373: 2017,09,06 - 2020,07,29

4543: 2017,09,04 - 2020,07,30

4696: 2018,03,07 - 2019,02,28

4741: 2017,09,06 - 2020,08,16

4804: 2017,11,07 - 2019,07,31

5126: 2018,03,06 - 2018,03,12     2019,03,28 - 2019,03,28     2019,05,21 - 2019,05,21     2019,10,14 - 2019,10,18
5238: 2018,03,14 - 2018,03,31     2018,07,22 - 2018,07,22     2018,09,13 - 2018,09,13     2018,11,07 - 2020,07,22

5506: 2018,03,06 - 2018,03,12     2018,04,06 - 2020,06,30

5716: 2017,09,06 - 2020,07,14

5864: 2018,03,06 - 2018,03,13     2018,03,20 - 2020,06,30

6118: 2017,09,01 - 2017,10,31     2018,03,06 - 2018,03,06     2018,03,09 - 2018,03,13     2018,03,28 - 2019,01,21     2019,05,21 - 2019,05,21     2019,07,17 - 2019,11,04
6159: 2017,12,19 - 2020,07,09

6520: 2017,09,21 - 2017,09,21     2018,03,06 - 2020,08,11

6555: 2017,09,29 - 2017,09,29     2018,03,06 - 2018,03,13     2018,07,22 - 2018,07,22     2018,09,13 - 2018,09,13     2019,03,28 - 2019,03,28     2019,04,01 - 2020,07,29

6865: 2017,09,21 - 2017,09,21     2018,03,06 - 2018,03,13     2020,01,15 - 2020,09,03

7534: 2017,09,04 - 2020,08,24

7966: 2017,09,05 - 2020,09,03

8093: 2017,09,24 - 2017,09,24     2018,03,06 - 2018,03,06     2018,03,12 - 2018,03,13     2018,09,13 - 2018,09,13
8293: 2017,09,21 - 2017,09,21     2017,09,24 - 2017,09,24     2018,02,22 - 2018,02,23     2018,03,05 - 2018,04,01     2018,09,13 - 2018,09,13     2019,03,28 - 2019,03,28     2019,05,21 - 2019,05,21     2020,02,12 - 2020,04,10
8570: 2017,09,03 - 2020,07,29

8707: 2017,09,26 - 2019,01,25

8891: 2017,09,21 - 2017,09,21     2017,09,24 - 2017,09,24     2017,10,11 - 2020,07,20

9730: 2017,09,29 - 2018,10,17

11330: 2017,09,30 - 2020,09,01

11410: 2017,09,05 - 2020,07,20

11582: 2017,09,08 - 2019,04,24

11785: 2018,03,06 - 2018,03,10     2019,05,21 - 2019,05,21
11837: 2017,09,05 - 2019,04,09

12131: 2017,09,27 - 2020,06,02

12213: 2017,09,15 - 2020,09,03

12320: 2017,09,14 - 2020,06,30

12616: 2018,03,13 - 2019,11,13

12701: 2017,11,17 - 2020,05,27

12802: 2017,09,21 - 2017,09,21     2017,12,13 - 2018,03,04     2018,03,06 - 2018,03,06     2018,03,08 - 2018,03,13     2018,06,27 - 2018,08,17     2018,09,13 - 2018,09,13     2019,02,24 - 2019,03,27     2019,05,21 - 2019,05,21     2019,10,14 - 2019,11,15     2020,08,13 - 2020,09,07

13363: 2018,03,07 - 2020,07,29

14097: 2018,03,06 - 2020,09,03

14334: 2017,10,03 - 2017,10,03     2018,03,06 - 2018,03,13     2019,05,21 - 2019,05,21     2019,07,09 - 2020,07,31

14508: 2017,09,06 - 2020,02,25

14509: 2017,09,10 - 2020,06,30

14857: 2017,09,21 - 2017,09,21     2017,09,24 - 2017,09,24     2018,07,16 - 2018,09,05     2018,11,27 - 2020,07,29

15290: 2018,03,06 - 2018,03,06     2018,03,13 - 2018,03,13     2019,03,28 - 2019,03,28
15926: 2017,09,01 - 2020,04,07

16258: 2018,02,05 - 2018,03,04     2018,03,06 - 2018,03,06     2018,03,11 - 2018,03,13     2019,05,21 - 2019,05,21
16398: 2017,09,01 - 2017,09,19     2018,03,05 - 2018,08,08     2019,03,28 - 2019,04,01     2019,04,15 - 2019,08,27     2020,08,13 - 2020,09,08

16664: 2017,09,21 - 2017,09,21     2018,03,13 - 2018,03,13     2018,04,12 - 2020,07,29

16689: 2017,09,05 - 2019,02,28

16853: 2017,09,05 - 2018,04,05     2018,11,30 - 2020,08,21

16860: 2017,09,21 - 2017,09,21     2018,03,06 - 2018,03,06     2018,03,12 - 2018,03,13     2018,04,13 - 2020,06,30

17069: 2017,09,21 - 2017,09,21     2017,10,16 - 2017,12,14     2018,03,06 - 2018,03,06     2018,03,11 - 2018,03,13     2018,07,04 - 2018,12,16     2019,03,28 - 2019,03,28     2019,05,21 - 2019,05,21     2019,06,28 - 2019,11,08
17712: 2017,09,21 - 2017,09,21     2017,10,28 - 2017,10,28     2018,03,06 - 2018,03,06     2018,03,11 - 2018,03,11     2019,05,21 - 2019,05,21
18377: 2017,09,21 - 2017,09,21     2017,09,24 - 2017,09,24     2018,03,06 - 2018,03,12     2018,09,13 - 2018,09,13     2019,05,21 - 2019,05,21     2019,09,30 - 2019,10,23     2020,05,08 - 2020,09,07

18596: 2018,02,14 - 2018,03,04     2018,03,06 - 2018,03,06     2018,03,12 - 2018,03,13     2018,07,22 - 2018,07,22     2019,05,21 - 2019,05,21
18613: 2017,09,01 - 2019,12,19

18676: 2018,03,06 - 2018,03,06     2018,03,11 - 2018,03,13     2018,09,13 - 2018,09,13     2018,11,02 - 2020,08,12

18736: 2018,03,13 - 2018,03,13     2019,05,21 - 2019,05,21
19261: 2018,03,06 - 2018,03,13     2018,09,13 - 2018,09,13     2019,03,28 - 2019,03,28     2019,05,07 - 2020,07,31

19326: 2018,03,06 - 2018,03,06     2018,09,13 - 2018,09,13     2019,08,09 - 2020,07,31

19548: 2017,09,05 - 2017,09,05     2017,09,21 - 2017,09,21     2017,09,24 - 2017,09,24     2018,03,10 - 2018,03,13     2018,05,15 - 2019,07,11

19814: 2018,03,06 - 2018,03,06     2018,03,08 - 2018,03,13     2018,03,23 - 2018,09,04     2018,09,13 - 2018,09,13     2019,03,28 - 2019,03,28     2019,05,21 - 2019,05,21     2020,04,15 - 2020,09,08

20537: 2017,10,31 - 2017,10,31     2018,03,07 - 2020,08,31

20764: 2018,02,17 - 2018,03,04     2018,03,06 - 2018,03,06     2018,03,11 - 2018,03,13     2018,07,15 - 2018,07,15     2018,09,13 - 2018,09,13     2019,07,31 - 2020,09,04

20889: 2018,07,22 - 2018,07,22     2018,09,13 - 2018,09,13     2019,03,28 - 2019,03,28     2019,05,21 - 2019,05,21     2020,03,12 - 2020,09,01

20908: 2019,03,28 - 2019,03,28     2019,05,21 - 2019,05,21     2020,02,07 - 2020,08,20

20970: 2017,12,25 - 2020,07,31

21683: 2018,07,15 - 2018,07,15     2018,07,22 - 2018,07,22     2018,09,13 - 2018,09,13     2018,10,12 - 2019,01,28     2019,03,28 - 2019,03,28     2019,05,07 - 2019,09,12     2020,07,30 - 2020,09,08

22148: 2018,01,17 - 2020,07,02

23268: 2018,07,15 - 2018,07,15     2019,05,21 - 2019,05,21     2019,06,04 - 2020,09,07

23657: 2018,05,13 - 2018,05,13     2018,09,13 - 2018,09,13     2019,05,21 - 2019,05,21     2019,06,05 - 2020,09,03

24278: 2018,07,22 - 2018,07,22     2018,09,13 - 2018,09,13     2019,03,28 - 2019,03,28     2019,05,21 - 2019,05,21
24351: 2018,07,15 - 2018,07,15     2018,07,22 - 2018,07,22     2018,09,13 - 2018,09,13     2018,11,15 - 2020,08,26

24582: 2019,03,28 - 2019,03,28     2019,05,21 - 2019,05,21     2019,10,17 - 2020,09,07

24979: 2018,07,13 - 2020,08,26

25000: 2018,07,23 - 2020,08,30

25695: 2018,09,13 - 2018,09,13     2019,03,28 - 2019,03,28     2019,05,21 - 2019,05,21     2020,02,27 - 2020,09,07

26336: 2018,12,04 - 2020,09,04

26490: 2018,10,02 - 2018,11,20     2018,12,14 - 2020,08,31

26763: 2018,10,09 - 2018,10,10     2018,11,14 - 2020,07,08
26927: 2019,03,05 - 2019,03,06     2019,03,28 - 2019,03,28     2019,07,04 - 2020,09,01

27759: 2019,06,10 - 2019,06,10
27912: 2019,05,21 - 2019,05,21     2019,10,31 - 2019,12,23     2020,08,06 - 2020,09,08

28058: 2020,05,19 - 2020,09,04

28261: 2019,03,28 - 2019,03,28     2019,04,16 - 2020,08,31

28895:
29476: 2019,05,22 - 2020,07,10

29621: 2019,06,25 - 2019,08,22
29970: 2019,08,10 - 2019,08,10     2019,11,10 - 2020,09,02

30022: 2020,08,26 - 2020,08,27

30057:
30104:
30193: 2019,08,10 - 2019,08,10     2020,03,03 - 2020,08,27